* {
    margin: 0 auto;
}
div {
    width: 970px;
}
#header {
    display: flex;
    flex-flow: row nowrap;
    background-color: olive;
    justify-content: center;
}
#container {
    background-color: silver;
}